In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import faker
f=faker.Faker(locale='zh_CN')
np.random.seed(808)
import time
import datetime

In [3]:
phone = pd.read_csv('phone_sxh.csv',index_col=0)
nums = len(phone)

In [4]:
phone

,reviewerID,asin,reviewerName,overall,reviewTime,unixReviewTime,reviewText,summary,price,title,imUrl,brand,categories,description
0,A00126503SUWI86KZBMIN,B006FEBZRC,Margaret,1.0,"05 11, 2014",1399766400,the ears break way to fast and the case is jus...,sucked,3.60,Disney 3d Stitch Movable Ear Flip Hard Case Co...,http://ecx.images-amazon.com/images/I/51XTvmp3...,eFuture,Cell Phones & Accessories/Cases/Basic Cases;,A-Sonic Disney 3d Stitch Movable Ear Flip Hard...
128,A00126503SUWI86KZBMIN,B0090ENC6G,Margaret,5.0,"05 11, 2014",1399766400,IT CUTE and everything but the red just getts ...,CUTE,5.98,eForCity Bumper TPU Case Compatible with Apple...,http://ecx.images-amazon.com/images/I/51iO5vBs...,eForCity,Cell Phones & Accessories/Cases/Basic Cases;,Compatible With Apple&reg;: iPhone&reg; 5 / 5S
134,A00126503SUWI86KZBMIN,B009LXY59E,Margaret,5.0,"05 11, 2014",1399766400,i love the case it came in really quick and i ...,awesome,1.65,eForCity&reg; Clear Hot Pink Waterdrop Raindro...,http://ecx.images-amazon.com/images/I/51DzIesa...,eForCity&amp;reg;,Cell Phones & Accessories/Cases/Basic Cases;,Compatible With Apple&reg;: iPhone&reg; 5 / 5S
167,A00126503SUWI86KZBMIN,B00EB3IAAE,Margaret,5.0,"05 11, 2014",1399766400,i havent gotten it in yet but i can tell alrea...,idk,4.49,Zeimax&reg; UV Case for iPhone 5 5S - Indian E...,http://ecx.images-amazon.com/images/I/51lmnYj8...,Zeimax,Cell Phones & Accessories/Cases/Basic Cases;,Express your life philosophy on your iPhone 5/...
174,A00900752UZ2JAC47K2RR,B008CBWA66,Dani,4.0,"10 9, 2013",1381276800,"Easy, simple and looks just like the picture. ...",Love this case,3.17,ZuGadgets Magenta Leather Flip Wallet Case Hol...,http://ecx.images-amazon.com/images/I/51GkHWc8...,ZuGadgets (Samsung Galaxy S3),Cell Phones & Accessories/Cases/Basic Cases;,1.This case offers a perfect combination of El...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40138,AZZVYHVJ8BDUZ,B00A21L2WM,Mike Davinroy,5.0,"02 22, 2013",1361491200,I received this earlier than expected (always ...,A Very Good Product,33.73,OtterBox Defender Series Case and Holster for ...,http://ecx.images-amazon.com/images/I/41Pe3DM6...,OtterBox,Cell Phones & Accessories/Accessories;Cell Pho...,The OtterBox Defender Series Galaxy Note 2 cas...
76948,AZZVYHVJ8BDUZ,B00AZ4KG64,Mike Davinroy,5.0,"03 14, 2014",1394755200,My Plantronics M25 bluetooth headset came with...,Arrived faster.. and worked better!,5.98,SET 3pcs SML Earbuds 2pcs Good Earhooks for Pl...,http://ecx.images-amazon.com/images/I/61QNIJRD...,PL,Cell Phones & Accessories/Accessories/Replacem...,"2pcs earhooks, 1pc small 1pc medium 1pc large ..."
6617,AZZX23UGJGKTT,B0097BEG1C,Jim D.,5.0,"06 4, 2013",1370304000,Actually purchased these for use with a non-Ap...,The Genuine Apple Product - Works Great on Sam...,17.59,Apple EarPods with Remote and Mic,http://ecx.images-amazon.com/images/I/21tMVjCz...,Apple,Cell Phones & Accessories/Accessories/Headsets...,These earphones (headphones) are a great way t...
97730,AZZYW4YOE1B6E,B004CLYJ0A,tmybrgr,4.0,"01 13, 2013",1358035200,Works great as a car charger adapter. We have ...,Works Great!,9.95,Belkin Micro Charger for the New Apple iPad 2 ...,http://ecx.images-amazon.com/images/I/41aioSAG...,BELKIN,Cell Phones & Accessories/Accessories/Chargers...,NaN
21648,AZZYW4YOE1B6E,B0070UKBO8,tmybrgr,4.0,"01 1, 2014",1388534400,These are bluetooth headphones and if your dev...,Good headphones,59.99,MEElectronics Air Fi Runaway Bluetooth Stereo ...,http://ecx.images-amazon.com/images/I/41TnPmAU...,MEElectronics,Cell Phones & Accessories/Accessories/Headsets...,NaN

# 买家实体

In [5]:
users = phone[['reviewerID','reviewerName']].drop_duplicates()
nums = len(users)

In [6]:
users.sort_values(by='reviewerID')
users.set_index = range(nums)
users

                  reviewerID   reviewerName
0      A00126503SUWI86KZBMIN       Margaret
174    A00900752UZ2JAC47K2RR           Dani
379    A01038432MVI9JXYTTK5T          Lynne
706    A01280172LF55QBT4IBHA           Lexi
867    A01335502AS0LP3ASV1Z7         kelsie
...                      ...            ...
49314          AZZ2CB9TEAJUY  Nolibeth Dale
18054          AZZS13C32YSPH        BadBrad
71987          AZZVYHVJ8BDUZ  Mike Davinroy
6617           AZZX23UGJGKTT         Jim D.
97730          AZZYW4YOE1B6E        tmybrgr

[26762 rows x 2 columns]

In [7]:
password = []
telephone = []
address = []
for i in range(nums):
    password.append(f.password())
    telephone.append(f.phone_number())
    address.append(f.address())
    
balance = 100*np.random.gamma(2,2,nums)

level = np.ceil(np.random.gamma(3,1,nums))
level[level>10]=100

In [8]:
users['password'] = password
users['telephone'] = telephone
users['address'] = address
users['balance'] = balance
users['level'] = level
users['imUrl'] = ''

In [9]:
users

,reviewerID,reviewerName,password,telephone,address,balance,level,imUrl
0,A00126503SUWI86KZBMIN,Margaret,BoD5In#ip%,15994820272,四川省玉兰县牧野兴安盟路m座 223143,369.614221,4.0,
174,A00900752UZ2JAC47K2RR,Dani,4WI@uXjr&_,13422791455,云南省雷县梁平邱街j座 702228,143.279261,2.0,
379,A01038432MVI9JXYTTK5T,Lynne,#3ARtEvvwV,15258418889,北京市石家庄县滨城邯郸街V座 571713,69.718936,4.0,
706,A01280172LF55QBT4IBHA,Lexi,9&01Byzz+@,14506125931,香港特别行政区阳县高明贵阳路W座 507114,389.300387,2.0,
867,A01335502AS0LP3ASV1Z7,kelsie,)2cgRV_v&y,14542708257,湖北省太原市璧山昆明路t座 155632,998.530455,3.0,
...,...,...,...,...,...,...,...,...
49314,AZZ2CB9TEAJUY,Nolibeth Dale,(2e66dNebz,15227105880,吉林省贵阳县海陵阎路c座 591657,113.153448,5.0,
18054,AZZS13C32YSPH,BadBrad,63)NZ6h(^x,13117534863,新疆维吾尔自治区宇市沙市淮安路h座 110273,127.354746,4.0,
71987,AZZVYHVJ8BDUZ,Mike Davinroy,(2C6GaC%K%,13232712665,辽宁省红梅县翔安王路y座 720603,112.841160,6.0,
6617,AZZX23UGJGKTT,Jim D.,#Wp8Yleo0V,18040402181,宁夏回族自治区汕尾市秀英康街y座 967040,715.228730,3.0,
97730,AZZYW4YOE1B6E,tmybrgr,52tBiN9j#!,15110371976,湖北省秀华县闵行高路i座 350112,1342.838535,4.0,

In [10]:
users.to_csv('C:/Users/86131/Desktop/customer_phone.csv')

# 商品实体

In [31]:
items = phone[['asin','title', 'price','description', 'categories','imUrl','brand']].drop_duplicates()
nums = len(items)
items.sort_values(by = 'asin')
items.set_index = range(nums)
temp_rates = np.random.uniform(0.8,0.9,nums)
items["originalprice"] = round(items["price"]/temp_rates,2)
temp_sellers = sellers[['brand','sellerID']]
items = pd.merge(items,temp_sellers)
items

,asin,title,price,description,categories,imUrl,brand,originalprice,sellerID
0,B006FEBZRC,Disney 3d Stitch Movable Ear Flip Hard Case Co...,3.60,A-Sonic Disney 3d Stitch Movable Ear Flip Hard...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51XTvmp3...,eFuture,4.27,GB91YPJI38400763900235
1,B008PAWOVU,ATC Ivory White + Gold Edge Chrome Vintage Lea...,5.01,Lumsing (TM) has always devoted itself to prov...,Cell Phones & Accessories/Accessories/Accessor...,http://ecx.images-amazon.com/images/I/51nBcko8...,eFuture,6.06,GB91YPJI38400763900235
2,B008CAXGXS,7484-2 Leather Flip Wallet Case with Credit/ID...,3.07,1.This case offers a perfect combination of El...,Cell Phones & Accessories/Cases/Basic Cases;Ce...,http://ecx.images-amazon.com/images/I/41LXvtDG...,eFuture,3.55,GB91YPJI38400763900235
3,B008HU23PA,Samsung? Galaxy S 3 III / S3 / i9300 i-9300 Hy...,2.76,Brand new high quality protective faceplate ph...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51gv7PmB...,eFuture,3.34,GB91YPJI38400763900235
4,B00ARBUPF2,White Black Panda Head 3.5mm Earphone Anti Dus...,2.75,White Black Panda Head 3.5mm Earphone Anti Dus...,Cell Phones & Accessories/Accessories/Phone Ch...,http://ecx.images-amazon.com/images/I/31CZWqr9...,eFuture,3.35,GB91YPJI38400763900235
...,...,...,...,...,...,...,...,...,...
5229,B00AIB8LK2,For Samsung Galaxy S3 Mini i8190 TPU Cover Cas...,1.96,Protect and Personalize your Samsung Galaxy S3...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51Eu8Fks...,HRT Wireless,2.20,GB56XBBG78652654679239
5230,B0062IJNCA,Ecell - HEADCASE RED TELEPHONE BOOTH UK BACK C...,1.87,Ecell - HEADCASE RED TELEPHONE BOOTH UK BACK C...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/41TyamFJ...,Ecell,2.17,GB73ZLEA16075842962227
5231,B00B0AMH96,"EtaTech(TM) 8pc T6 T5 cross, 5 Star Pentacle s...",5.34,"EtaTech(TM) 8pc T6 T5 cross, 5 Star Pentacle s...",Cell Phones & Accessories/Accessories/Replacem...,http://ecx.images-amazon.com/images/I/51Q93tCP...,EtaTech,6.26,GB93DOFH54924091505405
5232,B004HX0RPY,Silicone and Plastic Assembly Bumper for iPhon...,1.73,This unique and elegant bumper for iPhone 4 ca...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/21P6XhvA...,OCProducts,1.93,GB69JHMY70652070969311
5233,B0006JI3KY,Palm Stereo Headset,1.19,Consolidate your audio listening and phone cal...,Cell Phones & Accessories/Accessories/Headsets...,http://ecx.images-amazon.com/images/I/3119A05Z...,palmOne,1.33,GB73PUTV81553543667190

In [32]:
items["salespromotion"] = ''
items["inventory"] = np.random.randint(10,100000,len(items))
items["salesnum"] = np.random.randint(10,100000,len(items))
items["maxnum"] = items["inventory"]
temp_pid = np.random.randint(0,len(items),500)
items["maxnum"][temp_pid] = 1

In [33]:
for i in range(len(items)):
    temp_sid = items.iloc[i]['sellerID']
    temp_ssp = SalesPromotion[SalesPromotion["sellerID"] == temp_sid]
    temp_splen = len(temp_ssp)
    temp_spid = np.random.randint(0,temp_splen,1)
    items['salespromotion'][i] = list(temp_ssp.iloc[temp_spid]["SalesPromotionID"])[0]

In [34]:
items

,asin,title,price,description,categories,imUrl,brand,originalprice,sellerID,salespromotion,inventory,salesnum,maxnum
0,B006FEBZRC,Disney 3d Stitch Movable Ear Flip Hard Case Co...,3.60,A-Sonic Disney 3d Stitch Movable Ear Flip Hard...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51XTvmp3...,eFuture,4.27,GB91YPJI38400763900235,GB24TJKB28887414996991,84382,12098,84382
1,B008PAWOVU,ATC Ivory White + Gold Edge Chrome Vintage Lea...,5.01,Lumsing (TM) has always devoted itself to prov...,Cell Phones & Accessories/Accessories/Accessor...,http://ecx.images-amazon.com/images/I/51nBcko8...,eFuture,6.06,GB91YPJI38400763900235,GB15YQYR66820176638085,88902,27679,88902
2,B008CAXGXS,7484-2 Leather Flip Wallet Case with Credit/ID...,3.07,1.This case offers a perfect combination of El...,Cell Phones & Accessories/Cases/Basic Cases;Ce...,http://ecx.images-amazon.com/images/I/41LXvtDG...,eFuture,3.55,GB91YPJI38400763900235,GB24TJKB28887414996991,93724,56947,93724
3,B008HU23PA,Samsung? Galaxy S 3 III / S3 / i9300 i-9300 Hy...,2.76,Brand new high quality protective faceplate ph...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51gv7PmB...,eFuture,3.34,GB91YPJI38400763900235,GB15YQYR66820176638085,57677,52468,57677
4,B00ARBUPF2,White Black Panda Head 3.5mm Earphone Anti Dus...,2.75,White Black Panda Head 3.5mm Earphone Anti Dus...,Cell Phones & Accessories/Accessories/Phone Ch...,http://ecx.images-amazon.com/images/I/31CZWqr9...,eFuture,3.35,GB91YPJI38400763900235,GB78IVGY21693155410911,83028,37052,83028
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5229,B00AIB8LK2,For Samsung Galaxy S3 Mini i8190 TPU Cover Cas...,1.96,Protect and Personalize your Samsung Galaxy S3...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/51Eu8Fks...,HRT Wireless,2.20,GB56XBBG78652654679239,GB60ROEM57225252475737,8565,9402,8565
5230,B0062IJNCA,Ecell - HEADCASE RED TELEPHONE BOOTH UK BACK C...,1.87,Ecell - HEADCASE RED TELEPHONE BOOTH UK BACK C...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/41TyamFJ...,Ecell,2.17,GB73ZLEA16075842962227,GB74YDXB96112125652563,18637,10441,18637
5231,B00B0AMH96,"EtaTech(TM) 8pc T6 T5 cross, 5 Star Pentacle s...",5.34,"EtaTech(TM) 8pc T6 T5 cross, 5 Star Pentacle s...",Cell Phones & Accessories/Accessories/Replacem...,http://ecx.images-amazon.com/images/I/51Q93tCP...,EtaTech,6.26,GB93DOFH54924091505405,GB54HORY93423970193172,65237,37235,65237
5232,B004HX0RPY,Silicone and Plastic Assembly Bumper for iPhon...,1.73,This unique and elegant bumper for iPhone 4 ca...,Cell Phones & Accessories/Cases/Basic Cases;,http://ecx.images-amazon.com/images/I/21P6XhvA...,OCProducts,1.93,GB69JHMY70652070969311,GB72JDSU31088219938056,94863,34464,94863
5233,B0006JI3KY,Palm Stereo Headset,1.19,Consolidate your audio listening and phone cal...,Cell Phones & Accessories/Accessories/Headsets...,http://ecx.images-amazon.com/images/I/3119A05Z...,palmOne,1.33,GB73PUTV81553543667190,GB50QNKW92935354212957,96359,58961,96359

In [35]:
items.to_csv('C:/Users/86131/Desktop/commodity_phone.csv')

# 卖家实体

In [14]:
sellers = phone[['brand']].drop_duplicates()
numbers = len(sellers)

In [15]:
sellers.sort_values(by = 'brand')

                       brand
8780                      3D
40700                     3M
98764                4Covers
89985            A Days Tech
12748                A-Sonic
...                      ...
95712         wireless fones
92710                 wishom
71174  xmastoy International
31598                   yupy
53047                 zBoost

[940 rows x 1 columns]

In [16]:
sellerID = []
sellerName = []
sellerLV = []
sellerAddress = []
sellerTele = []
sellerPassword = []

In [17]:
import faker
fs=faker.Faker()

In [18]:
for j in range(numbers):
    sellerName.append(fs.name())
    sellerPassword.append(fs.password())
    sellerTele.append(fs.phone_number())
    sellerAddress.append(fs.address())
    sellerID.append(fs.iban())

In [19]:
level = np.random.randint(1,5,numbers)

In [20]:
sellers['password'] = sellerPassword
sellers['telephone'] = sellerTele
sellers['address'] = sellerAddress
sellers['sellerID'] = sellerID
sellers['name'] = sellerName
sellers['level'] = level
sellers

,brand,password,telephone,address,sellerID,name,level
0,eFuture,B*m2G&n3b#,583-591-0795,"371 Ralph Spring Apt. 507\nLake Tamarashire, M...",GB91YPJI38400763900235,Christopher Fritz,1
128,eForCity,)MGTTRdy^9,(940)747-9444,"6443 Erica Freeway\nOwensfort, AZ 94984",GB43DNFP31607002616137,Richard Sanders,1
134,eForCity&amp;reg;,k)+1aDei$!,081.802.5435x535,"205 Reginald Bridge Suite 096\nJoshuatown, NE ...",GB04ZJZX27435887010295,Deborah Santos,2
167,Zeimax,lOf42ZvVp(,+1-445-990-7570,"PSC 9523, Box 0544\nAPO AA 24192",GB14LIPH86118127712476,Jose Miller,4
174,ZuGadgets (Samsung Galaxy S3),V8BPK^uB*J,(974)646-0830x3781,"PSC 7518, Box 3017\nAPO AP 24873",GB17GYBN65776305767459,Sandra Ball,1
...,...,...,...,...,...,...,...
99393,HRT Wireless,5w5tV%qq$@,+1-060-673-6115x253,"48193 West Curve Suite 579\nJohnsonview, MI 09341",GB56XBBG78652654679239,Jason Weber MD,1
99409,Ecell,!r4Ib*FIUY,(713)800-4157,70162 Calhoun Alley Suite 198\nLake Robertberg...,GB73ZLEA16075842962227,Donna Woods DVM,4
99419,EtaTech,vAx@6OYmY!,674-316-7160x3746,02839 Vanessa Inlet Suite 851\nNorth Shelbysta...,GB93DOFH54924091505405,Cathy Mccormick PhD,2
99424,OCProducts,+@X5D7fqR0,557-873-5865x1018,"76831 Soto Prairie Apt. 469\nStevenchester, PA...",GB69JHMY70652070969311,Laura Williams,1
99444,palmOne,GcVPREyb^0,(324)760-9971,"57989 Susan Prairie\nNew Shawnton, MN 79406",GB73PUTV81553543667190,Linda Ramirez,3

In [21]:
sellers.to_csv('C:/Users/86131/Desktop/seller_phone.csv')

# 折扣活动

In [22]:
SalesPromotion = sellers[['sellerID']]
temp_sp_ = SalesPromotion
nums = len(SalesPromotion)
SalesPromotion.sort_values(by = 'sellerID')
SalesPromotion.index = range(nums)
temp_spnum = np.random.randint(0,nums,nums*3)
SalesPromotion = SalesPromotion.loc[temp_spnum]
SalesPromotion = SalesPromotion.append(temp_sp_)
nums = len(SalesPromotion)
SalesPromotion

                   sellerID
809  GB96MNYC08875825106905
248  GB72QTSP83707638658248
890  GB49CLUM87811442047783
888  GB17TEXH94527067805615
56   GB11JWPN88786780235915
..                      ...
935  GB56XBBG78652654679239
936  GB73ZLEA16075842962227
937  GB93DOFH54924091505405
938  GB69JHMY70652070969311
939  GB73PUTV81553543667190

[3760 rows x 1 columns]

In [23]:
SalesPromotionID = []
SalesPromotionName = []
startdate = []
enddate = []
SalesPromotion_description = []

In [24]:
def num_to_char(num):
    """数字转中文"""
    num=str(num)
    new_str=""
    num_dict={"0":u"零","1":u"一","2":u"二","3":u"三","4":u"四","5":u"五","6":u"六","7":u"七","8":u"八","9":u"九"}
    listnum=list(num)
    # print(listnum)
    shu=[]
    for i in listnum:
        # print(num_dict[i])
        shu.append(num_dict[i])
    new_str="".join(shu)
    # print(new_str)
    return new_str

In [25]:
import datetime

In [26]:
for i in range(nums):
    date_1 = f.date_between()
    startdate.append(date_1) 
    delta=datetime.timedelta(days=np.random.randint(1,31))
    date_2 = date_1 + delta
    enddate.append(date_2)  
    discount_1 = np.random.randint(1,10)
    discount = discount_1 /10 #random.number(0, 1, 0.01)#randomFloat(2, 0, 1)# 生成浮点数，两位小数点，范围是0-1之间
    SalesPromotion_description.append(discount)
    SalesPromotionID.append(f.iban())
    name = num_to_char(discount_1)#变成文字
    SalesPromotionName.append(name + '折')

In [27]:
SalesPromotion['SalesPromotionID'] = SalesPromotionID
SalesPromotion['name'] = SalesPromotionName
SalesPromotion['startdate'] = startdate
SalesPromotion['enddate'] = enddate
SalesPromotion['name'] = SalesPromotionName
SalesPromotion['description'] = SalesPromotion_description

In [28]:
SalesPromotion.index = range(nums)
SalesPromotion

,sellerID,SalesPromotionID,name,startdate,enddate,description
0,GB96MNYC08875825106905,GB98VDYI04731927575114,六折,1992-09-30,1992-10-29,0.6
1,GB72QTSP83707638658248,GB03UXJB46493193992847,一折,2010-05-15,2010-05-24,0.1
2,GB49CLUM87811442047783,GB75HFVX59544237000772,二折,2005-04-07,2005-04-20,0.2
3,GB17TEXH94527067805615,GB40SHEV63047346287615,八折,2006-06-26,2006-07-08,0.8
4,GB11JWPN88786780235915,GB79DSAB66511317754314,三折,2017-03-19,2017-04-10,0.3
...,...,...,...,...,...,...
3755,GB56XBBG78652654679239,GB60ROEM57225252475737,九折,2015-10-02,2015-10-26,0.9
3756,GB73ZLEA16075842962227,GB74OHWR15384278728958,九折,1994-03-21,1994-04-02,0.9
3757,GB93DOFH54924091505405,GB55DYEW43683437528991,六折,2005-10-25,2005-11-24,0.6
3758,GB69JHMY70652070969311,GB72JDSU31088219938056,八折,1995-01-11,1995-02-03,0.8
3759,GB73PUTV81553543667190,GB81LIEF95908707395451,九折,1992-05-29,1992-06-06,0.9

# 订单

In [36]:
items_phone = pd.merge(phone[["reviewerID","asin"]],items[["sellerID","asin"]],how='inner',on='asin').drop_duplicates()
temp_items = items[['asin','salespromotion','price']]
items_phone = pd.merge(items_phone,temp_items)
temp_spp = SalesPromotion[['SalesPromotionID','description']]
temp_spp.columns = ["salespromotion",'description']
items_phone = pd.merge(items_phone,temp_spp)
temp_phone = phone[['reviewerID','asin','unixReviewTime']]
items_phone = pd.merge(items_phone,temp_phone)
items_phone['reviewtime'] = ""

In [37]:
for i in range(len(items_phone)):
    items_phone["reviewtime"][i] = datetime.datetime.fromtimestamp(items_phone["unixReviewTime"][i])

In [38]:
items_phone

,reviewerID,asin,sellerID,salespromotion,price,description,unixReviewTime,reviewtime
0,A00126503SUWI86KZBMIN,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1399766400,2014-05-11 08:00:00
1,A10WE6XS7WJY4A,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1367712000,2013-05-05 08:00:00
2,A13MV5HQW3M97D,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1359417600,2013-01-29 08:00:00
3,A15T5PHF07CA6W,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1378339200,2013-09-05 08:00:00
4,A15WUEDYOIP9Z4,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1376438400,2013-08-14 08:00:00
...,...,...,...,...,...,...,...,...
99542,ADEZOPMPKK146,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00
99543,AGXMC3ITWZASE,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00
99544,AMRMK86X3PKXD,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404950400,2014-07-10 08:00:00
99545,ARTA78TP6H73D,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403913600,2014-06-28 08:00:00
99546,AXAJXJZUL2J5P,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403654400,2014-06-25 08:00:00

In [39]:
def num_to_state(num):
    """数字转订单状态"""
    num=str(num)
    new_str=""
    num_dict={"1":u"待发货","2":u"已发货","3":u"已签收","4":u"退货"}
    listnum=list(num)
    # print(listnum)
    shu=[]
    for i in listnum:
        # print(num_dict[i])
        shu.append(num_dict[i])
    new_str="".join(shu)
    # print(new_str)
    return new_str

In [40]:
items_phone['UnitPrice'] = ""

In [48]:
for i in range(len(items_phone)):
    items_phone["UnitPrice"][i] = round(items_phone["price"][i]*items_phone["description"][i],2)
items_phone

,reviewerID,asin,sellerID,salespromotion,price,description,unixReviewTime,reviewtime,UnitPrice,OrderDate
0,A00126503SUWI86KZBMIN,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1399766400,2014-05-11 08:00:00,2.88,2014-05-03 08:00:00
1,A10WE6XS7WJY4A,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1367712000,2013-05-05 08:00:00,2.88,2013-04-27 08:00:00
2,A13MV5HQW3M97D,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1359417600,2013-01-29 08:00:00,2.88,2013-01-21 08:00:00
3,A15T5PHF07CA6W,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1378339200,2013-09-05 08:00:00,2.88,2013-08-28 08:00:00
4,A15WUEDYOIP9Z4,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1376438400,2013-08-14 08:00:00,2.88,2013-08-06 08:00:00
...,...,...,...,...,...,...,...,...,...,...
99542,ADEZOPMPKK146,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00
99543,AGXMC3ITWZASE,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00
99544,AMRMK86X3PKXD,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404950400,2014-07-10 08:00:00,99.98,2014-07-02 08:00:00
99545,ARTA78TP6H73D,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403913600,2014-06-28 08:00:00,99.98,2014-06-20 08:00:00
99546,AXAJXJZUL2J5P,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403654400,2014-06-25 08:00:00,99.98,2014-06-17 08:00:00

In [42]:
items_phone['OrderDate'] = ""

In [43]:
for i in range(len(items_phone)):
    date_delta = datetime.timedelta(days=np.random.randint(3,31))
    items_phone["OrderDate"][i] = items_phone["reviewtime"][i]-delta
items_phone

,reviewerID,asin,sellerID,salespromotion,price,description,unixReviewTime,reviewtime,UnitPrice,OrderDate
0,A00126503SUWI86KZBMIN,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1399766400,2014-05-11 08:00:00,2.88,2014-05-03 08:00:00
1,A10WE6XS7WJY4A,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1367712000,2013-05-05 08:00:00,2.88,2013-04-27 08:00:00
2,A13MV5HQW3M97D,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1359417600,2013-01-29 08:00:00,2.88,2013-01-21 08:00:00
3,A15T5PHF07CA6W,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1378339200,2013-09-05 08:00:00,2.88,2013-08-28 08:00:00
4,A15WUEDYOIP9Z4,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1376438400,2013-08-14 08:00:00,2.88,2013-08-06 08:00:00
...,...,...,...,...,...,...,...,...,...,...
99542,ADEZOPMPKK146,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00
99543,AGXMC3ITWZASE,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00
99544,AMRMK86X3PKXD,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404950400,2014-07-10 08:00:00,99.98,2014-07-02 08:00:00
99545,ARTA78TP6H73D,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403913600,2014-06-28 08:00:00,99.98,2014-06-20 08:00:00
99546,AXAJXJZUL2J5P,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403654400,2014-06-25 08:00:00,99.98,2014-06-17 08:00:00

In [52]:
orders = items_phone.drop_duplicates()
nums=len(orders)
Quantity = []
UnitPrice = []
OrderExpressNO = []
OrderState = []
status = []
OrderDate = []
packageID = []#orderID
for i in range(nums):
    packageID.append(str(1)+str(f.random_number(digits=11)))

In [53]:
for i in range(len(orders)):    
    status_tmp = np.random.randint(1,4)
    status_tmp1 = num_to_state(status_tmp)#变成文字
    status.append(status_tmp1)
    
    Quantity.append(f.random_int(1,5))
    OrderExpressNO.append(f.random_number(10))

In [54]:
orders ['OrderID']  = packageID
orders ['status'] = status 
orders ['Quantity'] = Quantity
orders ['OrderExpressNO'] = OrderExpressNO

In [55]:
orders

,reviewerID,asin,sellerID,salespromotion,price,description,unixReviewTime,reviewtime,UnitPrice,OrderDate,OrderID,status,Quantity,OrderExpressNO
0,A00126503SUWI86KZBMIN,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1399766400,2014-05-11 08:00:00,2.88,2014-05-03 08:00:00,187203596363,已签收,2,2410790798
1,A10WE6XS7WJY4A,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1367712000,2013-05-05 08:00:00,2.88,2013-04-27 08:00:00,116320440605,已发货,3,7153124122
2,A13MV5HQW3M97D,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1359417600,2013-01-29 08:00:00,2.88,2013-01-21 08:00:00,177458255966,待发货,3,8695283272
3,A15T5PHF07CA6W,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1378339200,2013-09-05 08:00:00,2.88,2013-08-28 08:00:00,132257285701,已发货,4,6784275093
4,A15WUEDYOIP9Z4,B006FEBZRC,GB91YPJI38400763900235,GB24TJKB28887414996991,3.60,0.8,1376438400,2013-08-14 08:00:00,2.88,2013-08-06 08:00:00,14121754528,已签收,4,3126535598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99542,ADEZOPMPKK146,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00,135221811176,已发货,4,7690474632
99543,AGXMC3ITWZASE,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404691200,2014-07-07 08:00:00,99.98,2014-06-29 08:00:00,17289408439,已发货,3,3467965295
99544,AMRMK86X3PKXD,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1404950400,2014-07-10 08:00:00,99.98,2014-07-02 08:00:00,179165535800,已签收,2,3748072554
99545,ARTA78TP6H73D,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403913600,2014-06-28 08:00:00,99.98,2014-06-20 08:00:00,144934662668,已签收,2,5080805372
99546,AXAJXJZUL2J5P,B00HKIXOEY,GB17XLVP66270326702591,GB85CVGW39243957684987,249.95,0.4,1403654400,2014-06-25 08:00:00,99.98,2014-06-17 08:00:00,18183660894,待发货,2,2549712395

In [56]:
orders.to_csv('C:/Users/86131/Desktop/Order_phone.csv')

# 游客

In [66]:
visitorID = []

In [67]:
for i in range(100000):
    visitorID.append(f.ssn())

In [68]:
from pandas.core.frame import DataFrame
visitor_={"visitorID" : visitorID}
visitor=DataFrame(visitor_)

In [69]:
visitor.to_csv('C:/Users/86131/Desktop/visitor_phone.csv')

# 购物车

In [189]:
shoppingcart = phone[['reviewerID']].drop_duplicates()
temp_sp_ = shoppingcart
nums = len(shoppingcart)
shoppingcart.sort_values(by = 'reviewerID')
shoppingcart.index = range(nums)
temp_spnum = np.random.randint(0,nums,nums*6)
shoppingcart = shoppingcart.loc[temp_spnum]
shoppingcart = shoppingcart.append(temp_sp_)
shoppingcart.index = range(len(shoppingcart))
shoppingcart

            reviewerID
0       A1YYDWZ64UOI7Q
1       A3LZXB1SBY0GVB
2        AZKDLBTHU2BVZ
3       A21RU23FMI0XSS
4       A1HCJO1VRRISZ5
...                ...
186888   AZZ2CB9TEAJUY
186889   AZZS13C32YSPH
186890   AZZVYHVJ8BDUZ
186891   AZZX23UGJGKTT
186892   AZZYW4YOE1B6E

[186893 rows x 1 columns]

In [190]:
CommodityQuantity = np.random.randint(1,5,len(shoppingcart))

In [191]:
shoppingcart ['CommodityQuantity'] = CommodityQuantity
shoppingcart.index = range(len(shoppingcart))

In [192]:
shoppingcart

            reviewerID  CommodityQuantity
0       A1YYDWZ64UOI7Q                  2
1       A3LZXB1SBY0GVB                  2
2        AZKDLBTHU2BVZ                  4
3       A21RU23FMI0XSS                  2
4       A1HCJO1VRRISZ5                  3
...                ...                ...
186888   AZZ2CB9TEAJUY                  3
186889   AZZS13C32YSPH                  3
186890   AZZVYHVJ8BDUZ                  4
186891   AZZX23UGJGKTT                  2
186892   AZZYW4YOE1B6E                  1

[186893 rows x 2 columns]

In [193]:
commodity_id_sample = np.random.randint(1,5000,len(shoppingcart))
commodity_id_sample

array([4245, 1374, 3615, ..., 1483, 1253, 3244])

In [194]:
commodity_id_sample_1=items.iloc[commodity_id_sample, [0]]
commodity_id_sample_1.index = range(len(shoppingcart))
commodity_id_sample_1

              asin
0       B001WTEHI4
1       B009EARYEC
2       B004BW74DO
3       B0043M668G
4       B009EARUFU
...            ...
186888  B005SLXUZS
186889  B004QJPWK4
186890  B002M4NMWU
186891  B006ROBC78
186892  B0042C0PC0

[186893 rows x 1 columns]

In [195]:
frames = [shoppingcart, commodity_id_sample_1]
shoppingcart = pd.concat(frames,axis = 1)
shoppingcart

            reviewerID  CommodityQuantity        asin
0       A1YYDWZ64UOI7Q                  2  B001WTEHI4
1       A3LZXB1SBY0GVB                  2  B009EARYEC
2        AZKDLBTHU2BVZ                  4  B004BW74DO
3       A21RU23FMI0XSS                  2  B0043M668G
4       A1HCJO1VRRISZ5                  3  B009EARUFU
...                ...                ...         ...
186888   AZZ2CB9TEAJUY                  3  B005SLXUZS
186889   AZZS13C32YSPH                  3  B004QJPWK4
186890   AZZVYHVJ8BDUZ                  4  B002M4NMWU
186891   AZZX23UGJGKTT                  2  B006ROBC78
186892   AZZYW4YOE1B6E                  1  B0042C0PC0

[186893 rows x 3 columns]

In [196]:
shoppingcart.to_csv('C:/Users/86131/Desktop/shoppingcart_phone.csv')

# 收藏

In [57]:
favorite = phone[['reviewerID']].drop_duplicates()
temp_sp_ = favorite
nums = len(favorite)
favorite.sort_values(by = 'reviewerID')
favorite.index = range(nums)
temp_spnum = np.random.randint(0,nums,nums*6)
favorite = favorite.loc[temp_spnum]
favorite = favorite.append(temp_sp_)
favorite.index = range(len(favorite))
favorite

            reviewerID
0        AHCME70I8JXAK
1       A1O3KV1RMGEW0M
2       A26JQ8M4ODNX2C
3       A1OQEFSOWBZCOO
4       A121NRQAH1VTXH
...                ...
186888   AZZ2CB9TEAJUY
186889   AZZS13C32YSPH
186890   AZZVYHVJ8BDUZ
186891   AZZX23UGJGKTT
186892   AZZYW4YOE1B6E

[186893 rows x 1 columns]

                  reviewerID
0      A00126503SUWI86KZBMIN
1      A00900752UZ2JAC47K2RR
2      A01038432MVI9JXYTTK5T
3      A01280172LF55QBT4IBHA
4      A01335502AS0LP3ASV1Z7
...                      ...
26694          AZZ2CB9TEAJUY
26695          AZZS13C32YSPH
26696          AZZVYHVJ8BDUZ
26697          AZZX23UGJGKTT
26698          AZZYW4YOE1B6E

[26699 rows x 1 columns]

In [198]:
commodity_id_sample = np.random.randint(1,5000,len(favorite))
commodity_id_sample

array([3308, 3867,  685, ..., 2348,  356, 4377])

In [199]:
#items.iloc(commodity_id_sample, [0])
commodity_id_sample_1=items.iloc[commodity_id_sample, [0]]
commodity_id_sample_1.index = range(len(favorite))
commodity_id_sample_1

              asin
0       B004LSN0GS
1       B003CK70VC
2       B0054EGM72
3       B003T5JJVY
4       B00482YA70
...            ...
186888  B004ZH5VU8
186889  B00A9S6DDQ
186890  B000IVEQYW
186891  B0055PTUE2
186892  B001PBWNOY

[186893 rows x 1 columns]

In [200]:
#favorite = pd.merge(commodity_id_sample_1,favorite)
frames = [favorite, commodity_id_sample_1]
favorite = pd.concat(frames,axis = 1)
favorite

            reviewerID        asin
0       A2L6D4IFCMJW58  B004LSN0GS
1       A2EOXFBPW3U8Q0  B003CK70VC
2       A14AFO8EW5OWXI  B0054EGM72
3       A2IVX8518VDOAP  B003T5JJVY
4       A2O8DUUDNTO1D7  B00482YA70
...                ...         ...
186888   AZZ2CB9TEAJUY  B004ZH5VU8
186889   AZZS13C32YSPH  B00A9S6DDQ
186890   AZZVYHVJ8BDUZ  B000IVEQYW
186891   AZZX23UGJGKTT  B0055PTUE2
186892   AZZYW4YOE1B6E  B001PBWNOY

[186893 rows x 2 columns]

In [201]:
FavoritesDate = []

In [202]:
for i in range(len(favorite)):
    FavoritesDate.append(f.date_between())

In [203]:
favorite['FavoritesDate'] = FavoritesDate

In [204]:
favorite

            reviewerID        asin FavoritesDate
0       A2L6D4IFCMJW58  B004LSN0GS    2013-11-14
1       A2EOXFBPW3U8Q0  B003CK70VC    2000-02-06
2       A14AFO8EW5OWXI  B0054EGM72    2009-12-12
3       A2IVX8518VDOAP  B003T5JJVY    2018-03-02
4       A2O8DUUDNTO1D7  B00482YA70    1993-12-28
...                ...         ...           ...
186888   AZZ2CB9TEAJUY  B004ZH5VU8    2011-04-21
186889   AZZS13C32YSPH  B00A9S6DDQ    2018-07-27
186890   AZZVYHVJ8BDUZ  B000IVEQYW    2000-09-29
186891   AZZX23UGJGKTT  B0055PTUE2    1996-10-16
186892   AZZYW4YOE1B6E  B001PBWNOY    2014-02-28

[186893 rows x 3 columns]

In [205]:
favorite.to_csv('C:/Users/86131/Desktop/favorite1_phone.csv')

# 评价

In [164]:
Evaluation = phone[['reviewerID','reviewText','overall','asin']].drop_duplicates()
Evaluation.index = range(len(Evaluation))
Evaluation

,reviewerID,reviewText,overall,asin
0,A00126503SUWI86KZBMIN,the ears break way to fast and the case is jus...,1.0,B006FEBZRC
1,A00126503SUWI86KZBMIN,IT CUTE and everything but the red just getts ...,5.0,B0090ENC6G
2,A00126503SUWI86KZBMIN,i love the case it came in really quick and i ...,5.0,B009LXY59E
3,A00126503SUWI86KZBMIN,i havent gotten it in yet but i can tell alrea...,5.0,B00EB3IAAE
4,A00900752UZ2JAC47K2RR,"Easy, simple and looks just like the picture. ...",4.0,B008CBWA66
...,...,...,...,...
99542,AZZVYHVJ8BDUZ,I received this earlier than expected (always ...,5.0,B00A21L2WM
99543,AZZVYHVJ8BDUZ,My Plantronics M25 bluetooth headset came with...,5.0,B00AZ4KG64
99544,AZZX23UGJGKTT,Actually purchased these for use with a non-Ap...,5.0,B0097BEG1C
99545,AZZYW4YOE1B6E,Works great as a car charger adapter. We have ...,4.0,B004CLYJ0A
99546,AZZYW4YOE1B6E,These are bluetooth headphones and if your dev...,4.0,B0070UKBO8

,reviewerID,reviewText,overall,asin,OrderID
0,A00126503SUWI86KZBMIN,the ears break way to fast and the case is jus...,1.0,B006FEBZRC,185255421666
1,A00126503SUWI86KZBMIN,IT CUTE and everything but the red just getts ...,5.0,B0090ENC6G,175921479557
2,A00126503SUWI86KZBMIN,i love the case it came in really quick and i ...,5.0,B009LXY59E,154224011306
3,A00126503SUWI86KZBMIN,i havent gotten it in yet but i can tell alrea...,5.0,B00EB3IAAE,197228541041
4,A00900752UZ2JAC47K2RR,"Easy, simple and looks just like the picture. ...",4.0,B008CBWA66,164814147561
...,...,...,...,...,...
99542,AZZVYHVJ8BDUZ,I received this earlier than expected (always ...,5.0,B00A21L2WM,191980461225
99543,AZZVYHVJ8BDUZ,My Plantronics M25 bluetooth headset came with...,5.0,B00AZ4KG64,128733746590
99544,AZZX23UGJGKTT,Actually purchased these for use with a non-Ap...,5.0,B0097BEG1C,111825840957
99545,AZZYW4YOE1B6E,Works great as a car charger adapter. We have ...,4.0,B004CLYJ0A,165276738902
99546,AZZYW4YOE1B6E,These are bluetooth headphones and if your dev...,4.0,B0070UKBO8,153636931134

In [165]:
order_tmp = orders[["OrderID",'reviewerID','asin']]

In [166]:
order_tmp

            OrderID             reviewerID        asin
0      185255421666  A00126503SUWI86KZBMIN  B006FEBZRC
1      181485569983         A10WE6XS7WJY4A  B006FEBZRC
2      184465120142         A13MV5HQW3M97D  B006FEBZRC
3      125913858814         A15T5PHF07CA6W  B006FEBZRC
4      143414818210         A15WUEDYOIP9Z4  B006FEBZRC
...             ...                    ...         ...
99542  125481670981          ADEZOPMPKK146  B00HKIXOEY
99543  135615511996          AGXMC3ITWZASE  B00HKIXOEY
99544  198736432434          AMRMK86X3PKXD  B00HKIXOEY
99545   11899402733          ARTA78TP6H73D  B00HKIXOEY
99546  173837553363          AXAJXJZUL2J5P  B00HKIXOEY

[99547 rows x 3 columns]

In [ ]:
a = ['reviewerID','asin']
Evaluation = pd.merge(Evaluation,order_tmp,on = a).drop_duplicates()

In [171]:
Evaluation

,reviewerID,reviewText,overall,asin,OrderID
0,A00126503SUWI86KZBMIN,the ears break way to fast and the case is jus...,1.0,B006FEBZRC,185255421666
1,A00126503SUWI86KZBMIN,IT CUTE and everything but the red just getts ...,5.0,B0090ENC6G,175921479557
2,A00126503SUWI86KZBMIN,i love the case it came in really quick and i ...,5.0,B009LXY59E,154224011306
3,A00126503SUWI86KZBMIN,i havent gotten it in yet but i can tell alrea...,5.0,B00EB3IAAE,197228541041
4,A00900752UZ2JAC47K2RR,"Easy, simple and looks just like the picture. ...",4.0,B008CBWA66,164814147561
...,...,...,...,...,...
99542,AZZVYHVJ8BDUZ,I received this earlier than expected (always ...,5.0,B00A21L2WM,191980461225
99543,AZZVYHVJ8BDUZ,My Plantronics M25 bluetooth headset came with...,5.0,B00AZ4KG64,128733746590
99544,AZZX23UGJGKTT,Actually purchased these for use with a non-Ap...,5.0,B0097BEG1C,111825840957
99545,AZZYW4YOE1B6E,Works great as a car charger adapter. We have ...,4.0,B004CLYJ0A,165276738902
99546,AZZYW4YOE1B6E,These are bluetooth headphones and if your dev...,4.0,B0070UKBO8,153636931134

In [174]:
SuccessFormID = []
for i in range(len(Evaluation)):
    SuccessFormID.append(str(f.random_number(digits=14)))

In [176]:
Evaluation ['SuccessFormID']  = SuccessFormID
Evaluation

,reviewerID,reviewText,overall,asin,OrderID,SuccessFormID
0,A00126503SUWI86KZBMIN,the ears break way to fast and the case is jus...,1.0,B006FEBZRC,185255421666,16205223870303
1,A00126503SUWI86KZBMIN,IT CUTE and everything but the red just getts ...,5.0,B0090ENC6G,175921479557,83765377140646
2,A00126503SUWI86KZBMIN,i love the case it came in really quick and i ...,5.0,B009LXY59E,154224011306,38473074799092
3,A00126503SUWI86KZBMIN,i havent gotten it in yet but i can tell alrea...,5.0,B00EB3IAAE,197228541041,24493304125184
4,A00900752UZ2JAC47K2RR,"Easy, simple and looks just like the picture. ...",4.0,B008CBWA66,164814147561,80506493697784
...,...,...,...,...,...,...
99542,AZZVYHVJ8BDUZ,I received this earlier than expected (always ...,5.0,B00A21L2WM,191980461225,69288897764758
99543,AZZVYHVJ8BDUZ,My Plantronics M25 bluetooth headset came with...,5.0,B00AZ4KG64,128733746590,4220028445470
99544,AZZX23UGJGKTT,Actually purchased these for use with a non-Ap...,5.0,B0097BEG1C,111825840957,16829384078332
99545,AZZYW4YOE1B6E,Works great as a car charger adapter. We have ...,4.0,B004CLYJ0A,165276738902,1490339124697
99546,AZZYW4YOE1B6E,These are bluetooth headphones and if your dev...,4.0,B0070UKBO8,153636931134,86024728006296

In [177]:
Evaluation.to_csv('C:/Users/86131/Desktop/Evaluation_phone.csv')

# 聊天

In [180]:
Chats = sellers[['sellerID']]
temp_sp_ = Chats
nums = len(Chats)
Chats.sort_values(by = 'sellerID')
Chats.index = range(nums)
temp_spnum = np.random.randint(0,nums,nums*5)
Chats = Chats.loc[temp_spnum]
Chats = Chats.append(temp_sp_)
Chats.index = range(len(Chats))
Chats

                    sellerID
0     GB96FGWG91405226205309
1     GB93AOIF71502430306577
2     GB51GTWG90558276001865
3     GB06OCNS22678405731810
4     GB06DDVV13550614734908
...                      ...
5635  GB42KQLW53091857182842
5636  GB22YYBN96621732861745
5637  GB78KOJJ39552276956212
5638  GB27QTNS10713461684506
5639  GB21PCJR57390285258244

[5640 rows x 1 columns]

In [182]:
phone_tmp = phone[['reviewerID']].drop_duplicates()
phone_tmp

                  reviewerID
0      A00126503SUWI86KZBMIN
174    A00900752UZ2JAC47K2RR
379    A01038432MVI9JXYTTK5T
706    A01280172LF55QBT4IBHA
867    A01335502AS0LP3ASV1Z7
...                      ...
49314          AZZ2CB9TEAJUY
18054          AZZS13C32YSPH
71987          AZZVYHVJ8BDUZ
6617           AZZX23UGJGKTT
97730          AZZYW4YOE1B6E

[26699 rows x 1 columns]

In [183]:
reviewer_id_sample = np.random.randint(1,26700,len(Chats))
reviewer_id_sample

array([ 4150, 22426,  4760, ...,  3266, 23168, 17575])

In [184]:
reviewer_id_sample_1=phone_tmp.iloc[reviewer_id_sample, [0]]
reviewer_id_sample_1.index = range(len(Chats))
reviewer_id_sample_1

          reviewerID
0     A1LCJ0LFLNQNQN
1      ADYZKTC3R4X63
2     A1OGBVAZ5V023J
3      AGK9YXXLUZOHR
4     A25DTE6D194JTC
...              ...
5635  A2LNPU0UQKVRJ5
5636  A3691DZKJ1IWZT
5637  A1GPO7NDP3145E
5638   AHMG7GNVPAFBY
5639  A3HNOV4T3JB7WQ

[5640 rows x 1 columns]

In [185]:
frames = [Chats, reviewer_id_sample_1]
Chats = pd.concat(frames,axis = 1)
Chats

                    sellerID      reviewerID
0     GB96FGWG91405226205309  A1LCJ0LFLNQNQN
1     GB93AOIF71502430306577   ADYZKTC3R4X63
2     GB51GTWG90558276001865  A1OGBVAZ5V023J
3     GB06OCNS22678405731810   AGK9YXXLUZOHR
4     GB06DDVV13550614734908  A25DTE6D194JTC
...                      ...             ...
5635  GB42KQLW53091857182842  A2LNPU0UQKVRJ5
5636  GB22YYBN96621732861745  A3691DZKJ1IWZT
5637  GB78KOJJ39552276956212  A1GPO7NDP3145E
5638  GB27QTNS10713461684506   AHMG7GNVPAFBY
5639  GB21PCJR57390285258244  A3HNOV4T3JB7WQ

[5640 rows x 2 columns]

In [186]:
TextTime = []
Content = []
for i in range(len(Chats)):
    TextTime.append(f.date_between())
    Content.append(f.text())

In [187]:
Chats ['TextTime']  = TextTime
Chats ['Content'] = Content
Chats

,sellerID,reviewerID,TextTime,Content
0,GB96FGWG91405226205309,A1LCJ0LFLNQNQN,2016-06-25,记者生活你的支持工具社区人员.拥有时间在线用户来自.基本更新有些决定历史.\n以后最大知道作...
1,GB93AOIF71502430306577,ADYZKTC3R4X63,2011-07-26,而且不会开始一切国内.谢谢生产问题加入.时间你们不会过程进行参加法律客户.一点的是为了功能女...
2,GB51GTWG90558276001865,A1OGBVAZ5V023J,1999-07-18,发展欢迎控制准备.手机标题搜索虽然教育.\n回复经验发表资料必须不是.以上技术相关.不过加入...
3,GB06OCNS22678405731810,AGK9YXXLUZOHR,2021-04-14,不断空间正在情况原因.\n得到密码时候销售成功管理关于.成功单位我们选择行业客户.\n支持制...
4,GB06DDVV13550614734908,A25DTE6D194JTC,2002-03-12,在线数据记者行业主题只有.或者发布问题电影点击的话看到.要求女人经营一切作者全国.\n日本以...
...,...,...,...,...
5635,GB42KQLW53091857182842,A2LNPU0UQKVRJ5,2015-10-23,网上网络位置控制支持教育可是分析.上海处理学校.\n使用不同设备.而且价格然后本站电脑.之间...
5636,GB22YYBN96621732861745,A3691DZKJ1IWZT,2002-06-15,之间国际为了根据全部那么联系.汽车空间表示功能不断推荐.国际系统系统报告孩子科技.\n所有作...
5637,GB78KOJJ39552276956212,A1GPO7NDP3145E,2017-05-11,两个一种最新也是她的我的.点击具有出来.应用广告有些不能.\n完全使用单位标准.搜索那些非常...
5638,GB27QTNS10713461684506,AHMG7GNVPAFBY,2014-01-26,参加程序通过到了你的部分.北京其中控制产品经验科技非常.\n还有应该已经国内.成为工具点击都...
5639,GB21PCJR57390285258244,A3HNOV4T3JB7WQ,2010-12-17,不能那么系列结果一直今年到了.中心说明这些.\n联系您的增加一样你的软件下载.品牌这样继续准...

In [188]:
Chats.to_csv('C:/Users/86131/Desktop/Chats_phone.csv')